*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffff;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.encabezadoContainer{
    margin: 20px;
    text-align: center;
    flex-direction: column;
}

.encabezadoContainer img{
    width: 30%;
    height: 200px;
    border-radius: 100%;
}


.btn-danger{
    background-color: #c11c23;
}

.idImg{
    height: 231px;
    width: 230px;
    border-radius: 100%;
    box-shadow: -1px -1px 5px 12px #95868633;
    border: 13px solid #c9c9c9d6;
    filter: brightness(0.9);
}

.division {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 388px;
    flex-wrap: wrap;
    word-break: break-word;
}

.aboutImg{
    height: 231px;
    width: 372px;
}

.aboutText{
    align-items: baseline;
    text-align: baseline;
    flex-wrap: wrap;
}

.portfolio{
    background-color: rgb(41, 41, 41);
}


.portfolio h2{
    text-align: center;
    color: white;
}

.tituloPortfolio{
    border-bottom: 1px solid;
    border-color: white;
    width: 200px;
    margin: 0px auto;
    padding-top: 15px;
}

.centered{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.achicarImagen{
    max-width: 65%;
    margin: 20px;
}

.card{
    border-radius: 30px;
}

.card img{
    border-radius: 30px;
    filter: brightness(0.5);
    -webkit-box-shadow: -1px 1px 8px 8px rgba(255,255,255,0.19)
}

.textoInsideImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-align: center;
}

.iconos a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 490;
}

.iconos a i{
    color: #c11c23;
}


.faIcons a{
    text-decoration: none;
    color: white;
    background: #c11c23;
    width: 30px;
    height: 30px;
    line-height: 30px !important;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.qrImg{
    height: 120px;
    padding-right: 10px;
}

/*ESTILOS FORMULARIO BOOTSTRAP*/
.contacto{
    background-color: #c11c23
}

.container-xl h1{ /*TEXTO CONSULTA O SUGERENCIA*/
    font-weight: bold;
    font-size: 1.8em;
    margin: 0.30em 0;
    padding-bottom: 1.2em;
  }
  
  .container-xl input{ /*CAJAS DE TEXTO BORDES*/
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: black;
    border-radius: 0px;
  }
  
  .container-xl textarea{ /*CAJA DE CUERPO DE MENSAJE*/
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #c11c23;
    border-color: black;
    border-radius: 0px;
  }
  
  #FormControlInput1{ /*CAJAS DE TEXTO POR DENTRO NOMBRES */
    background-color: #c11c23 !important;
    padding: 2px;
    font-weight: bold;
  }
  
  #FormControlInput2{ /*CAJAS DE TEXTO POR DENTRO EMAIL  */
    background-color: #c11c23 ;
    padding: 2px;
    font-weight: bold;
  }
  
  #FormControlTextarea1{ /*CAJAS DE TEXTO POR DENTRO MENSAJE*/
    background-color: #c11c23;
    padding: 2px;
    font-weight: bold;
  }
  
  .container-xl{ /* SECTION DEL FORM EN EL HTML*/
    position: sticky;
    z-index: 99;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    background-color: #c11c23;
  }
  
  .container-xl button{ /*BOTON ENVIAR*/
    font-weight: bold;
    background: #fff;
    font-size: 110%;
    color: #c11c23;
    border: none;
  }
  
  .container-xl button:hover{ /* BOTON ENVIAR HOVER */
    background-color: black;
  }
  
  .alertas{ /*mensajes en el formulario*/
    width: auto;
    text-align: initial;
    margin: 0px;
    color: #fff;
    padding: 0px;
  }

/* mini celu */
@media (max-width: 300px){
    .division{
        height: 165px;
    }

    .aboutText {
        align-items: center;
        text-align: center;
    }

    .idImg{
        height: 128px !important;
        width: 126px !important;
    }

    .aboutImg{
        height: 140px;
        width: 132px;
    }

    .achicarImagen{
        max-width: 90%;
    }

    .encabezado h1{
    font-size: calc(1.375rem + -1.5vw) !important;
    }

    .encabezado .h6 {
        font-size: 0.7rem !important;
    }

    .iconos a{
        font-size: 0.7rem;
    }
}

/* celulares */
@media (min-width: 301px) and (max-width:575px ){

    .division{    
        height: 279px;
    }

    .aboutImg{
        width: 281px;
    }

    .aboutText {
        align-items: center;
        text-align: center;
    }
}

/* tablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
    .division{
        height: 280px;
    }

    .aboutText {
        align-items: center;
        text-align: center;
    }
}

/* notebook */
@media (min-width: 768px) and (max-width:990px ){
   .division{
     height: 256px;
   }

   .aboutText {
    align-items: center;
    text-align: center;
    }

    .card img:hover{
        transform: scale(1.3);
        -webkit-transition: all .5s ease-in-out;
        filter: brightness(1);
    }

    .card img{
        border-radius: 30px;
        -webkit-box-shadow: -1px 1px 8px 8px rgba(255,255,255,0.19);
        filter: brightness(0.2);
    }

    .container-xl{ /* SECTION DEL FORM EN EL HTML*/
        position: unset;
    }

    .iconos a:hover{
        color: #c11c23;
    }

    .iconos a i:hover{
        color: black;
    }
}


/* escritorio */
@media (min-width: 991px){
    .encabezado{
        margin-top: 20px;
    }

    .division {
        height: 290px;
    }
    
    .idImg{
        height: 215px;
        width: 235px;
    }

    .aboutText{
        align-items: center !important;
        text-align: center;
        flex-wrap: nowrap !important;
        padding: 40px;
        margin-top: 40px;
    }

    .faIcons a:hover{
        transform: scale(1.2);
    }
    
    .card img:hover{
        transform: scale(1.3);
        -webkit-transition: all .5s ease-in-out;
        filter: brightness(1);
    }

    .card img{
        border-radius: 30px;
        -webkit-box-shadow: -1px 1px 8px 8px rgba(255,255,255,0.19);
        filter: brightness(0.2);
    }

    .container-xl{ /* SECTION DEL FORM EN EL HTML*/
        position: unset;
    }

    .iconos a:hover{
        color: #c11c23;
    }

    .iconos a i:hover{
        color: black;
    }
    
}